# ORCA scratch/temp files
*.tmp
*.gbw
*.densities
*.ges
*.prop
*.bibtex
*_property.txt
*.opt
*.engrad
*.hostnames

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
*.densitiesinfo